body {
    background-color: darkcyan;
}

.calculator {
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.container {
    background-color: darkgray;
    border: 5px solid;
    border-radius: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.display {
    border: 2px solid;
    border-radius: 10px;
    background-color: lavender;
    padding: 20px;
    margin-top: 15px;
    width: 300px;
    height: 100px;
    display: flex;
    align-items: flex-end;
    font-size: 30px;
}

.numbers-operators {
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 350px;
}

.box {
    background-color: lightgray;
    border: 2px solid;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    padding: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box:hover {
    background-color: lightblue;
    cursor: pointer;
}

.clear {
    background-color: crimson;
}

.delete {
    background-color: lightsalmon;
}

.history {
    border: 5px solid;
    border-radius: 25px;
    background-color: wheat;
    width: 400px;
    height: 600px;
    padding: 20px;
    font-size: 30px;
}

.history,
.display {
    overflow: auto;
}